@{
    ViewBag.Title = "Home Page";
}

<div>
    
    <h1>SAZA Recruitment Agency</h1>
    <p class="lead">Welcome to the SAZA Recruitment Agency! It's one of the best agencies in the world!</p>
</div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/recruitment.jpg" alt="Recruitment" width="670" height="270">

        </div>
    </div>